<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Acerca de la Heladería XYZ</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <nav>
    <ul>
      <a href="/">Inicio</a>
      <a href="/menu">Menú</a>
      <a href="/acerca">Acerca de</a>
      <a href="/domi">Pide a domicilio</a>
    </ul>
  </nav>

  <h1>Acerca de la Heladería XYZ</h1>
  <p>Somos una pequeña heladería artesanal ubicada en el centro de la ciudad.Test</p>
</body>

</html>
