<!DOCTYPE html>
<html>
<head>
	<title>What Frut</title>
	<meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<!-- Barra de menú -->
	<nav>
		<a href="/">Inicio</a>
		<a href="/menu">Menú</a>
		<a href="/acerca">Acerca de</a>
		<a href="/domi">Pide a domicilio</a>
       
	</nav>
	
	<!-- Contenido de la página -->
	<div id="div1">
        <img src="/images/IMG_6113.PNG" alt="img1" width="400px">
    </div>
    <h1>¡Bienvenido a What Frut!</h1>
    <br>
	<p>Sea saludable y elija saludable.</p>

    <header>
        <img src="" alt="">
    </header>
</body>
</html>
	
