<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <title>Menú de la Heladería XYZ</title>

</head>

<body>
  <!-- Barra de menú -->
  <!-- Barra de menú -->
  <nav>
    <a href="/">Inicio</a>
    <a href="/menu">Menú</a>
    <a href="/acerca">Acerca de</a>
    <a href="/domi">Pide a domicilio</a>
  </nav>
  <br>
  <h1>What Frut!</h1>
  <ul>
    <div>
      <img src="/images/logo2.png" alt="img2" width="400px">
    </div>
    <p>Helado de Guanaba</p>
    <p>ENDULZADO CON STEVIA</p>
    <p>presentacion de 1L</p>
  </ul>
</body>

</html>
