<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Pedir a domicilio con Cafras</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <nav>
    <ul>
      <a href="/">Inicio</a>
      <a href="/menu">Menú</a>
      <a href="/acerca">Acerca de</a>
      <a href="/domi">Pide a domicilio</a>
    </ul>
  </nav>
</body>

</html>
