<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <title>Menu de la tienda cafras</title>

</head>

<body>
  <!-- Barra de menú -->
  <!-- Barra de menú -->
  <nav>
    <a href="/">Inicio</a>
    <a href="/menu">Menú</a>
    <a href="/acerca">Acerca de</a>
    <a href="/domi">Pide a domicilio</a>
  </nav>
  <br>
  <h1>CAFRAS!</h1>
  <ul>
    <p>Pomada para bebe</p>
    <p>Pañal para bebe</p>
    <p>Crema para las pompis</p>
  </ul>
</body>

</html>
